# Dependencies
node_modules/


# Production build
dist/
build/

# Environment files
.env
.env.local

# Editor directories and files
.vscode/

# OS hidden files
.DS_Store

# Custom files
plan.md
scripts/hasAnyCompletedTask.js
node_modules/.package-lock.json
node_modules/.vite/deps/_metadata.json
scripts/hasAnyCompletedTask.js
